*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

:root {
    --blue: #233d4d;
    --white: #ffffff;
    --lime: #9bc53d;
    --cyan: #1b998b;
  }

.header{
    background-color: var(--blue);
    color: var(--lime);
}

.homepage{
    color: var(--lime);
}

.bottom-border{
    border-bottom: 2px solid var(--blue);
    padding-bottom: 5px;
}

.btn{
    background-color: var(--cyan);
    border: transparent;
}



.list-group-item, .list {
    border-color: var(--cyan);
    background-color: var(--cyan);
    
}

a{
    text-decoration: none;
    color: black;
}

.contact{
    color: black;
}

.about{
    background-color: var(--cyan);
}
