*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

:root {
    --blue: #233d4d;
    --white: #ffffff;
    --lime: #9bc53d;
    --cyan: #1b998b;
  }

.header{
    background-color: var(--blue);
    color: var(--lime);
}

.bottom-border{
    border-bottom: 2px solid var(--blue);
    padding-bottom: 5px;
}

